.bg{
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(24, 24, 25, 0.3);
    backdrop-filter: blur(10px);

    transform: scale(0);
}

.active { transform: scale(1); }


.createForm {
    margin: auto;
    width: 40%;
    height: 80%;
    padding: 2% 5% 2% 5%;

    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-around;

    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background: rgba(25, 25, 25, 0.15);
    backdrop-filter: blur(15px);
}

.createForm input {
    background: transparent;
    border-radius: 0;
    border: transparent;
    border-bottom: 1px solid white;
    color: white;
}

.createForm input:focus {
    background: transparent;
    color: white;
}

.createForm input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.uploadWindow {
    height: 400px;
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 15px;
    background-color: rgba(125, 125, 150, 0.2);

    color: white;
    font-weight: bold;
}

.dropZone {
    height: 200px;
    width: 450px;

    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px dashed rgba(125, 125, 150, 0.5);
    border-radius: 15px;
    background-color: rgba(125, 125, 150, 0.2);

    color: white;
    font-weight: bold;
    font-size: large;
    background-size: cover;
    overflow: hidden;
}

.btnRed, .btnGreen {
    height: 40px;
    width: 150px;
    background: transparent;
    color: white;
    border: none;
}

.btnRed:hover, .btnGreen:hover {
    border: 2px solid;
    border-radius: 5px;
}

.btnRed:hover {
    border-color: #d52943;
}

.btnGreen:hover {
    border-color: lightgreen;
}