.bg {
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(24, 24, 25, 0.5);
    backdrop-filter: blur(10px);

    transform: scale(0);
}

.active {
    transform: scale(1);
}

.uploadWindow {
    height: 400px;
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 15px;
    background-color: rgba(24, 24, 24, 0.8);

    color: white;
    font-weight: bold;
}

.submitBtn {
    height: 40px;
    width: 250px;

    background: transparent;
    color: white;

    border: none;
}

.submitBtn:hover {
    border: 2px solid #46b959;
    border-radius: 5px;
}

.cancelBtn {
    height: 40px;
    width: 450px;

    background: transparent;
    color: white;

    border: none;
}

.cancelBtn:hover {
    border: 2px solid #d52943;
    border-radius: 5px;
}


.dropZone {
    height: 300px;
    width: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px dashed rgba(125, 125, 150, 0.5);
    border-radius: 15px;
    background-color: rgba(125, 125, 150, 0.2);

    color: white;
    font-weight: bold;
    font-size: large;
    background-size: cover;
    overflow: hidden;
}

.content {
    height: 100%;
    width: 100%;

    padding: 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.content img {
    height: 250px;
    width: 250px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.content button {
    height: 40px;
    width: 200px;
}