#mainText {
  font-size: 5.5em;
}

.button {
  background-color: white;
  color: black;
  height: 50px;
  width: 180px;
}

.button:hover {
  color:white;
  background-color: rgba(255, 255, 255, 0.35);
}

.button:active {
  background-color: transparent;
  border-color: white;
  color: white;
}

