/*.parallax_fund {*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*}*/

.parallax {
    /*position: absolute;*/
    background: url("../../public/img/bg.jpg") no-repeat center center;
    background-size: cover;
    /*width: 110%;*/
    /*height: 110%;*/

    transition: all 0.1s ease;
}
