.content {
    width: 100vw;

    padding: 10px;

    overflow-y: scroll;

    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 40, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 10px );

    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 5px;
}

.content::-webkit-scrollbar {
    background: transparent;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 50px;
}

