.bg {
    background: url("../../public/img/bg2.jpg") no-repeat center center;
    background-size: cover;
}

.content {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
