.bg {
    background: url("../../public/img/mainbg3-2.jpg") no-repeat center center;
    /*background: linear-gradient(45deg, #4a1479, #8a2be2, #697dff, #1f2f94);*/
    background-size: cover;
}

.content {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
